.confirm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(208, 211, 217, 0.37);
}

.card {
  background: #fff;
  padding: 3rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 90%;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.success {
  color: #2e7d32; /* verde sucesso */
}

.error {
  color: #d32f2f; /* vermelho erro */
}

button {
  margin-top: 1.5rem;
  background-color: #283040 !important;
  color: white !important;
  border-radius: 8px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
