:host {
  display: block;
  width: 100%;
}

/* Container que centraliza o conteúdo e aplica margens laterais */
.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 24px;
}

/* Estilos do título da página */
.welcome-text, .app-name, .app-subtitle {
  text-align: center;
}

.welcome-text {
  font-size: 2.5rem;
  font-weight: 300;
  color: #757575;
  margin-bottom: 0;
}

.app-name {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #283040;
}

.app-subtitle {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
  color: #616161;
}

/* Cards de ação */
.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 32px;
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
}

.feature-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  background-color: #283040;
}

.feature-card mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.feature-card .feature-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.feature-card .feature-avatar mat-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
  color: #283040;
  transition: color 0.2s ease-in-out;
}


/* Título DENTRO do .feature-card */
.feature-card mat-card-title {
  font-size: 1.5rem !important;
  font-weight: 500;
  padding: 0;
  color: #283040; /* Cor padrão */
  transition: color 0.2s ease-in-out;
}

/* Conteúdo DENTRO do .feature-card */
.feature-card mat-card-content p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: #616161; /* Cor padrão */
  transition: color 0.2s ease-in-out;
}

/* --- EFEITO HOVER (Mantido para ficar verde) --- */
.feature-card:hover .feature-avatar mat-icon,
.feature-card:hover mat-card-title,
.feature-card:hover mat-card-content p {
  color: #497320 !important;
}


/* --- ESTILO DA FAIXA INFERIOR --- */
.events-wrapper {
  background-color: #283040;
}

.events-wrapper .content-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

:host ::ng-deep .events-wrapper h2 {
  color: white !important;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 48px;
}

@media (max-width: 480px) {
  .features-grid {
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }
  .app-name {
    font-size: 3rem;
  }
  .welcome-text {
    font-size: 2rem;
  }
  :host ::ng-deep .events-wrapper h2 {
    font-size: 2rem;
  }
}
